<div class="container">
  <div class="row">
    <%= erb :admin_menu %>

    <h2>Dashboard</h2>
    <hr />
    <p>Je bent momenteel ingelogd als <%= session[:user].phone %>. Je kan NightStoreGo! beheren via de verschillende administratiepagina's die je kan bereiken door het menu links.</p>
  </div>
</div>