<div class="container">
  <div class="row">
    <%= erb :admin_menu %>

    <h2>DELETE: <%= @account.phone %></h2>
    <hr />
    <div class="col-md-9">
      <p>Weet je zeker dat je dit account wilt verwijderen? De informatie zal definitief verwijderd worden uit de databank.</p>
      <form action="/admin/gebruikers/<%= @account.phone %>/delete" method="POST">
        <input type="submit" value="Ik ben zeker" class="btn btn-danger" />
      </form>
    </div>
  </div>
</div>