<div class="container">
  <div class="row">
    <h2>Join us</h2>
    <hr>
    <p>Contacteer ons via <a href="mailto:some@email.com">some@email.com</a> om samen met ons te werken. Gelieve ook ons wat meer informatie te geven over uw nachtwinkel:</p>
    <ul>
      <li>Aantonen dat er een voertuig is voor de verplaatsing van bestellingen</li>
      <li>Algemene informatie van de nachtwinkel</li>
      <li>Het assortiment van de nachtwinkel</li>
    </ul>
  </div>
</div>