<div class="container">
  <div class="jumbotron text-xs-center">
    <h1 class="display-3">Bedankt!</h1>
    <p class="lead"><strong>Je bestelling is successvol verstuurd!</strong> De nachtwinkel zal zo snel mogelijk je bestelling leveren.</p>
    <hr>
    <p>
      Wil je up-to-date blijven? Volg ons!
    </p>
    <p class="lead">
      <a href="<%= settings.media_facebook_link %>" style="text-decoration: none; color: inherit;"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
      <a href="<%= settings.media_twitter_link %>" style="text-decoration: none; color: inherit;"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
      <a href="<%= settings.media_instagram_link %>" style="text-decoration: none; color: inherit;"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
    </p>
  </div>
</div>